@model RazorPages.Pages.Boats.IndexModel
@{
    ViewData["Title"] = "Bådliste";
}

<h1>Liste af både</h1>
<h2>Der er @Model.Boats.Count både</h2>

@* Der skal bygges en table til  præsentation af alle events i event repositoriet *@
<p>
    @*@<a asp-page="Index">Opret en ny båd</a>*@
</p>

<table  class="table">
    <thead>

        <tr>
            <th>ID</th>
            <th>ModelNavn</th>
            <th>Navn</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Boats)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ModelName</td>
                <td>@item.Nickname</td>
                @*@<td><a asp-page="Index" asp-route-id="@item.Id">Rediger</a></td>*@
            </tr>
        }
    </tbody>
</table>
